apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ k8s_ca.stdout }}
    server: https://{{ groups['master'].0 }}:{{ k8s_master_port }}
  name: {{ k8s_name }}
contexts:
- context:
    cluster: {{ k8s_name }}
    user: admin
  name: {{ k8s_name }}
current-context: {{ k8s_name }}
kind: Config
preferences: {}
users:
- name: admin
  user:
    as-user-extra: {}
    client-certificate-data: {{ admin_cert.stdout }}
    client-key-data: {{ admin_key.stdout }}
