{
  "CN": "admin",
  "key": {
    "algo": "{{ k8s_algorithm }}",
    "size": {{ k8s_keysize }}
  },
  "names": [
    {
      "C": "{{ k8s_country }}",
      "ST": "{{ k8s_state }}",
      "L": "{{ k8s_city }}",
      "O": "system:masters",
      "OU": "{{ k8s_organization_unit }}"
    }
  ]
}
