{
  "CN": "kubernetes",
  "key": {
    "algo": "{{ k8s_algorithm }}",
    "size": {{ k8s_keysize }}
  },
  "hosts": [ "{{ k8s_svc_ip }}", "{{ item }}", "{{ hostvars[item].short_name }}", "{{ hostvars[item].long_name }}", "127.0.0.1", "{{ k8s_domain }}"],
  "names": [
    {
      "C": "{{ k8s_country }}",
      "ST": "{{ k8s_state }}",
      "L": "{{ k8s_city }}",
      "O": "{{ k8s_organization }}",
      "OU": "{{ k8s_organization_unit }}"
    }
  ]
}
