global
  pidfile     /var/run/haproxy.pid
  maxconn     4000
  user        root
  group       root
  stats bind-process all

defaults
  mode                    tcp
  log                     global
  option                  httplog
  option                  dontlognull
  option http-server-close
  option forwardfor       except 127.0.0.0/8
  option                  redispatch
  retries                 3
  timeout http-request    10s
  timeout queue           1m
  timeout connect         10s
  timeout client          1m
  timeout server          1m
  timeout http-keep-alive 10s
  timeout check           10s
  maxconn                 3000

frontend  main
  bind *:{{ k8s_master_proxy_port }}
  default_backend             kube-apiserver

backend kube-apiserver
  balance     roundrobin
{% for host in groups['master'] %}
  server  apiserver{{ loop.index }} {{ host }}:{{ k8s_master_port }} check
{% endfor %}
