apiVersion: v1
kind: Pod
metadata:
  name: k8s-proxy
  namespace: kube-system
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
spec:
  hostNetwork: true
  containers:
  - name: proxy
    image: {{ k8s_image }}
    imagePullPolicy: IfNotPresent
    command:
    - /hyperkube
    - proxy
    - --kubeconfig=/var/lib/kube-proxy/kubeconfig
    - --cluster-cidr={{ k8s_pod_cidr }}
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /var/lib/kube-proxy
      name: kube-proxy
  volumes:
  - hostPath:
      path: /var/lib/kube-proxy
    name: kube-proxy
