apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /var/lib/kube-proxy/ca.pem
    server: https://127.0.0.1:{{ k8s_master_proxy_port }}
  name: {{ k8s_name }}
contexts:
- context:
    cluster: {{ k8s_name }}
    user: kube-proxy
  name: default
current-context: default
preferences: {}
users:
- name: kube-proxy
  user:
    client-certificate: /var/lib/kube-proxy/kube-proxy.pem
    client-key: /var/lib/kube-proxy/kube-proxy-key.pem
