apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /var/lib/kubelet/ca.pem
    server: https://127.0.0.1:{{ k8s_master_proxy_port }}
  name: {{ k8s_name }}
contexts:
- context:
    cluster: {{ k8s_name }}
    user: system:node:{{ long_name }}
  name: default
current-context: default
preferences: {}
users:
- name: system:node:{{ long_name }}
  user:
    client-certificate: /var/lib/kubelet/kubelet.pem
    client-key: /var/lib/kubelet/kubelet-key.pem
