kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: {{ hostvars[groups.admin.0].encryption_key.stdout }}
      - identity: {}
