apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  containers:
  - name: kube-controller-manager
    image: {{ k8s_image }}
    command:
    - /hyperkube
    - controller-manager
    - --address=0.0.0.0
    - --allocate-node-cidrs=true
    - --cluster-cidr={{ k8s_pod_cidr }}
    - --cluster-name={{ k8s_name }}
    - --cluster-signing-cert-file=/etc/k8s/ca.pem
    - --cluster-signing-key-file=/etc/k8s/ca-key.pem
    - --leader-elect=true
    - --master=http://127.0.0.1:{{ k8s_master_insecure_port }}
    - --root-ca-file=/etc/k8s/ca.pem
    - --service-account-private-key-file=/etc/k8s/ca-key.pem
    - --service-cluster-ip-range={{ k8s_svc_cidr }}
    - --v=2
    livenessProbe:
      httpGet:
        path: /healthz
        port: 10252
      initialDelaySeconds: 15
      timeoutSeconds: 1
    volumeMounts:
    - mountPath: /etc/k8s/ca.pem
      name: ca-cert
      readOnly: true
    - mountPath: /etc/k8s/ca-key.pem
      name: ca-key
      readOnly: true
  hostNetwork: true
  volumes:
  - hostPath:
      path: /var/lib/kube-apiserver/ca.pem
    name: ca-cert
  - hostPath:
      path: /var/lib/kube-apiserver/ca-key.pem
    name: ca-key
