{
  "CN": "etcd CA",
  "key": {
    "algo": "{{ etcd_algorithm }}",
    "size": {{ etcd_keysize }}
  },
  "names": [
    {
      "C": "{{ etcd_country }}",
      "ST": "{{ etcd_state }}",
      "L": "{{ etcd_city }}",
      "O": "{{ etcd_organization }}",
      "OU": "{{ etcd_organization_unit }}"
    }
  ]
}
