{
  "CN": "{{ hostvars[item].short_name }}",
  "hosts": ["127.0.0.1", "{{ hostvars[item].short_name }}", "{{ hostvars[item].long_name }}", "{{ item }}"],
  "key": {
    "algo": "{{ etcd_algorithm }}",
    "size": {{ etcd_keysize }}
  },
  "names": [
    {
      "C": "{{ etcd_country }}",
      "ST": "{{ etcd_state }}",
      "L": "{{ etcd_city }}",
      "O": "{{ etcd_organization }}",
      "OU": "{{ etcd_organization_unit }}"
    }
  ]
}
